@import url('https://fonts.googleapis.com/css?family=Chakra+Petch|Space+Mono&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.PageLayout{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 350px;
  grid-template-rows: auto 1fr;
}
.Nav{
  grid-column-start:1;
  grid-column-end:3;
  grid-row: 1/2;
  padding: 10px;
  background-color: #000000;
}

.MainContent{
  grid-column:1;
  grid-row:2/2;
}
.SideBar{
  grid-column:2;
  grid-row: 2/2;
  background-color: gainsboro;
}
.HomeButton {
  float:left;
  margin: 7px;
  border:0;
  border-radius: 3px;
  background-color: black;
}
.HomeLogo {
  width: 35px;
}
.MainHeader {
  display: inline-block;
  margin:5px;
  margin-left: 10px;
  text-align: center;
  color:whitesmoke;
  font-family: 'Chakra Petch' ;
}
.TopicsListHeader {
  margin-left: 77px;
}
.MainThreadsListHeader{/*is the same as TopicsListHeader on frontPage*/
  margin-left: 77px;
}
.ThreadHeader {/*is the same as TopicsListHeader on frontPage*/
  margin-left: 77px;
}
.SelectedThreadsHeader {
  font-family: "Space Mono";
  margin-left: 30px;
}

.LoginButton {
  border: 0;
  border-radius: 3px;
  float:right;
  margin: 7px;
  padding: 7px;
  width: 140px;
  background-color: gainsboro;
  font-family: "Space Mono";
  font-size: medium;
  color: white;
  background-color: black;
}
.signInLogo{
  width: 25px;
  float:right;
}
.TopicsList{
  list-style:none;
  min-width: auto;
  margin-right: 30px;
  margin-left: 40px;
}
.ThreadsList{/*is the same as TopicsList on frontPage*/
  list-style:none;
  min-width: auto;
  margin-right: 30px;
  margin-left: 40px;

}
.CommentsList{/*is the same as TopicsList on frontPage*/
  list-style:none;
  min-width: auto;
  margin-right: 30px;
  margin-left: 40px;
}
.CommentBoxContainer {

}

.CommentBoxForm{

  width: 800px;
  margin: 50px auto;
  padding: 50px;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  border-color: gainsboro;

}

.CommentArea{
  width: 800px;
  height: 300px;
  margin: auto;
  font-size: large;
  font-family: "Space Mono";
  border-radius: 5px;
  border: none;
}

.ForumUserHeader{

}
.UserNameField{
  margin: auto;
  width: 800px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-size: large;
  font-family: "Space Mono";
}
.CommentSubmitButton{
  margin: 40px 0;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  border:none;
  font-size: medium;
  font-family: "Space Mono";
  font-weight: bold;
  color: whitesmoke;
  background-color: black;

}


.TopicsList li {
  padding: 1px;
  background-color: whitesmoke;
  margin:0;
  border-radius: 5px;
}

.TopicsList li:nth-of-type(2n) {
  background: white;
}
.ThreadsList li {/*the same...*/
  padding: 1px;
  background-color: whitesmoke;
  margin:0;
  border-radius: 5px;
}

.ThreadsList li:nth-of-type(2n) {/*the same...*/
  background: white;
}

.CommentsList li {/*the same...*/
  padding: 1px;
  background-color: whitesmoke;
  margin:0;
  border-radius: 5px;
}

.CommentsList li:nth-of-type(2n) {/*the same...*/
  background: white;
}
.Topic {
  margin: 10px;
}

.TopicName {
  margin:0;
}

.TopicDescription {
  margin:10px;
  margin-bottom:15px;
}
.SelectedThreadsList {
  list-style: none;

}
